@import "../../responsive.scss";

.profilePage {
    display: flex;
    height: 100%;

    @include md {
        flex-direction: column;
        overflow: scroll;
        scroll-behavior: smooth;
        overflow-y: auto;
        scrollbar-width: none;
        scrollbar-color: #aaa;
        max-height: 100%;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .details {
        flex: 3;
        overflow-y: scroll;
        padding-bottom: 50px;
        scroll-behavior: smooth;
        overflow-y: auto;
        scrollbar-width: none;
        scrollbar-color: #aaa #eee;
        max-height: 100%;

        &::-webkit-scrollbar {
            display: none;
        }

        @include md {
            flex: none;
            height: max-content;

        }

        .wrapper {
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;


            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1 {
                    font-weight: 300;
                }

                button {
                    padding: 12px 24px;
                    background-color: #2F4F4F;
                    border-radius: 10px;
                    color: #fcf5f3;
                    cursor: pointer;
                    border: none;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 20px;

                span {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }

    .chatContainer {
        flex: 2;
        background-color: #8076a3;;
        height: 100%;
        
        @include md {
            flex: none;
            height: 500px;
        }

        
        .wrapper {
            padding: 0px 20px;
            height: 100%;
        }
    }
}