@import './responsive.scss';

.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    @include lg{
        background-color: rgb(201, 193, 190);
        max-width: 1280px;
    }
    
    @include md{
        background-color: rgb(186, 196, 217);
        max-width: 780px;
    }
    
    @include sm{
        background-color: rgb(213, 199, 199);
        max-width: 640px;
    }

}